
/*
*Estilos para CelebrarProject
*Model App A
*Barra de navegacion
*Alejandro Mesias
*/


#mainNav {
  border-bottom: 1px solid var(--melonShade);
  background-color: var(--melonFade);
  font-family: 'ChampBoldFont', Tahoma ;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

/*logo de la barra, mod fuente y tamaño, color en movil*/
#mainNav .navbar-brand {
  font-weight: 400;
  text-transform: ;
  color: var(--papiro);
  font-family: 'AmarilloFont', Georgia, Arial;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: var(--azul);
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: ;
    color: var(--papiro);
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: var(--azul);

}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
      color: var(--azul) !important;
      background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
        background-color: transparent;
}

#mainNav .navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;

}

#mainNav .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url('../icons/menu.png');
}

/*Modo pantalla amplia*/

@media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent;
    }

    /* Logo en modo full-screen*/
    #mainNav .navbar-brand {
        color: var(--papiroFade);
    }

    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: var(--melon);
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link {
        padding: 0.5rem 1rem;
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: var(--papiroFade);
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: var(--melonFade);
    }

    /*color de la barra al hacer scroll*/
    #mainNav.navbar-shrink {
        border-bottom: 1px solid var(--melonShade);
        background-color: var(--melonFade);
    }

    #mainNav.navbar-shrink .navbar-brand {
          color: var(--papiro);
    }

    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: var(--azul);
    }

    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: var(--papiro);
    }

    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: var(--azul);
    }
  }
