/*
*
*Estilos para CelebrarProject
*Model App A
*Alejandro Mesias
*indice de recursos
*/

/*librería de colores*/

:root {
  --azul: #3b5c9b;
  --melon: #ffb387;
  --papiro: #fff4e0;
  --blanco: #fff;
  --melonForte: #ff9544;
  --blueShade: rgba(49,218,226,0.3);

  --azulFade: rgba(59,92,155,0.9);
  --blueFade: rgba(48,135,186,0.9);
  --papiroFade: rgba(255,244,244,0.9);
  --blancoFade: rgba(255,255,255,0.9);

}

/* custom fonts */
@font-face {
  font-family: 'bigNoodle';
  src: url('../mvfonts/bigNoodle.ttf');
}

@font-face {
  font-family: 'ChampFont';
  src: url('../mvfonts/Champ.ttf');
}

@font-face {
  font-family: 'ChampBoldFont';
  src: url('../mvfonts/ChampBold.ttf');
}
