
<!DOCTYPE html>
{% extends "projects/base.html" %}
{% load staticfiles %}
{% block page_block %}
<header class="main-header d-flex">
      <div class="container my-auto">
          <div class="col-8 text-center mx-auto">
            <p class="header-text mb-0">
              <br><br><br><br>
              {{testvar}}
            </p>
          </div>
      </div>
</header>

<section class="padded-section-small" id="things">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="section-title-light">Things I've done</h1>
      </div>
    </div>
  </div>
</section>

  {% for project in projects_list %}
    <section class="padded-section-normal">
      <div class="container" >
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">

            <h2 class="section-title-light">{{ project.title }}</h2>
            <hr class="hr-dark my-4">
            <p class= "mb-4 plain-text">
              {{project.description}}
            </p>

            {% if project.picture != "" %}
              <img class = "img-fluid" width="600" src="{{project.picture}}" alt="project image">
            </br></br>
            {% endif %}

            {% if project.repository != "" %}
              <p class= "mb-4 plain-text">
                Github repository for this project:
                <a class="link-text" target="blank" href="{{project.repository}}">{{project.repository}}</a>
              </p>
            {% endif %}

            {% if project.published != "" %}
              <p class= "mb-4 plain-text">
                Published sample of the project:
                <a class="link-text" target="blank" href="{{project.published}}">{{project.published}}</a>
              </p>
            {% endif %}

            {% if project.extra_link != "" %}
              <p class= "mb-4 plain-text">
                Further information about this project:
                <a class="link-text" target="blank" href="{{project.extra_link}}">{{project.extra_link}}</a>
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  {% endfor %}
{% endblock %}
