<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" contenst="">
    <meta name="author" content="">

    <title>Alejandro Mesias</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Plugin CSS -->
    <link href="static/projects/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/projects/css/resources_style.css" rel="stylesheet">
    <link href="static/projects/css/body_style.css" rel="stylesheet">
    <link href="static/projects/css/navigation_style.css" rel="stylesheet">
    <link href="static/projects/css/footer_style.css" rel="stylesheet">

  </head>

  <body id="page-top">
    {% include "projects/navigation.html" %}
    {% block page_block %}

    {% endblock %}
  </body>

  <!-- Bootstrap core JavaScript -->
  <script src="static/projects/vendor/jquery/jquery.min.js"></script>
  <script src="static/projects/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/projects/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="static/projects/vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="static/projects/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/projects/js/creative.min.js"></script>
  <script src="static/projects/js/countdown.js"></script>

</html>
